.OpinionSection {
  width: 90%;
  background-color: #f4f7f9;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .OpinionSection__header {
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 50px;
  }
}

.OpinionSection__slider__opinionBox__opinionTop__rateIcon {
  display: flex;

  svg {
    height: 20px;
    margin-right: 2px;
  }
}

.OpinionSection__slider__opinionBox__opinionTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .OpinionSection__slider__opinionBox__opinionTop__date {
    color: #bebebe;
    text-align: right;
  }
}

.OpinionSection__slider__opinionBox {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
  padding: 60px 50px;
  margin: 0px 30px;
  color: #65637b;
  &:hover .OpinionSection__slider__opinionBox__authorBox__authorImgBox::after {
    opacity: 0;
  }

  &:hover .OpinionSection__slider__opinionBox__authorBox__name {
    opacity: 1;
  }
}

.OpinionSection__slider__opinionBox__paragraph {
  width: 90%;
  line-height: 30px;
}

.OpinionSection__slider__opinionBox__authorBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-top: 50px;

  .OpinionSection__slider__opinionBox__authorBox__authorImgBox {
    position: relative;
    .OpinionSection__slider__opinionBox__authorBox__authorImgBox__img {
      border-radius: 100%;
      position: relative;
    }
  }

  .OpinionSection__slider__opinionBox__authorBox__authorImgBox::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4432ff;
    background-image: url("../../../assets/icons/ui/eye.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .OpinionSection__slider__opinionBox__authorBox__name {
    margin-left: 10px;
    font-weight: 700;
    color: black;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.OpinionSection__slider {
  width: 90vw;
}

.slick-dots li.slick-active button:before {
  content: url("../../../assets/icons/ui/list-active.svg");
  height: 10px;
}
