* {
  margin: 0px;
  font-family: "all-round-gothic", sans-serif;
  font-style: normal;
}

body {
  background-color: white;
}

button:focus {
  outline: none;
}

button,
button span,
li a,
.faq__boxes__box__title__header,
.faq__boxes__box__description,
.OpinionSection__slider__opinionBox__paragraph,
.OpinionSection__slider__opinionBox__authorBox__name,
.benefitNewsletter__benefitBoxes__benefitBox__paragraph,
.benefitNewsletter__newsletter__right__iconBox span,
footer p,
footer h3,
footer li,
footer span,
.realisationSection span,
.realisationSection a,
.cookie-notification span {
  font-family: "Comfortaa", cursive !important;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 4;
  padding: 0px 17.5%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.header__right__button__navButon {
  margin-right: 75px;
}

.header__right__button__navButon,
.header__mobileNav__mobileList__button__navButton {
  border: none;
  background-color: #4432ff;
  color: white;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #3629c5;
  }
}

.header__mobileNav__mobileList__button__navButton {
  margin-top: 30px;
}

.header__left__logo {
  width: 250px;
  cursor: pointer;
}

.header__left__nav__ul__li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  font-size: 0.9em;
}

.header__left__nav__ul__li__link {
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__hamburgerMenu {
  width: 50px;
  height: 35px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  margin-left: 50px;
  position: relative;
  z-index: 9;
}

.header__hamburgerMenu__line--inside {
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header__hamburgerMenu__line {
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.header__mobileNav {
  width: 0vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 5;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  float: right;
  visibility: hidden;

  .header__right__button {
    .header__right__button__navButton {
      margin: 0px;
      margin-top: 20px;
    }
  }

  .header__left__nav__ul {
    padding: 0px;
    .header__left__nav__ul__li {
      display: block;
      text-align: center;
      margin-bottom: 50px;
      margin-right: 0px;
      font-size: 1.4em;

      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 1430px) {
  .header {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 1100px) {
  .header__left .header__left__nav {
    display: none;
  }
  .header__hamburgerMenu {
    display: flex;
  }
  .header {
    width: 100%;
  }
  .header__right__button__navButon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 670px) {
  .header__right__button__navButon {
    margin-left: 20px;
  }
}

@media screen and (max-width: 570px) {
  .header__right__button__navButon {
    display: none;
  }
  .header__mobileNav__mobileList__button__navButton {
    display: block !important;
  }
}

@media screen and (max-width: 400px) {
  .header__left__logo {
    width: 150px;
  }
}
