.benefitNewsletter__benefitBoxes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 150px 50px 0px 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.benefitNewsletter__benefitBoxes__benefitBox {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 150px;
  margin-left: 1.5vw;
  margin-right: 2.5vw;

  .benefitNewsletter__benefitBoxes__benefitBox__img {
    margin-bottom: 50px;
  }
  .benefitNewsletter__benefitBoxes__benefitBox__header {
    margin-bottom: 20px;
  }
  .benefitNewsletter__benefitBoxes__benefitBox__paragraph {
    line-height: 30px;
    color: #514e6a;
    width: 80%;
  }
}

@media screen and (max-width: 1030px) {
  .benefitNewsletter__benefitBoxes__benefitBox {
    width: 45%;
  }
}

@media screen and (max-width: 550px) {
  .benefitNewsletter__benefitBoxes__benefitBox {
    width: 90%;
  }
  .benefitNewsletter__benefitBoxes__benefitBox__img {
    margin-left: 20px;
  }
  .benefitNewsletter__benefitBoxes {
    padding: 150px 0px 0px 0px;
  }
}
