.footer__top__logo {
  height: 50px;
}

.footer__top__right__znanyLekarz__stars {
  height: 20px;
}

.footer {
  width: 85%;
  background-color: #f4f7f9;
  padding: 50px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 14%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e7e9;
}

.footer__top .footer__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top .footer__top__right .footer__top__right__znanyLekarz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  font-size: 15px;
}

.footer__top .footer__top__right .footer__top__right__znanyLekarz .footer__top__right__znanyLekarz__stars {
  margin-right: 10px;
}

.footer__top .footer__top__right .footer__top__right__znanyLekarz .footer__top__right__znanyLekarz__img {
  margin-left: 10px;
  height: 20px;
}

.footer__top__right__socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top__right__socialIcons .footer__top__right__socialIcons__icon {
  cursor: pointer;
}

.footer__top__right__socialIcons .footer__top__right__socialIcons__icon:nth-of-type(1) {
  margin-right: 20px;
}

.footer__down {
  margin: 70px 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__down__left {
  width: 40%;
}

.footer__down__left .footer__down__left__paragraph {
  color: #4a4764;
  line-height: 25px;
  margin-bottom: 50px;
}

.footer__down__left li {
  font-weight: 700;
  margin-right: 25px;
}

.footer__down__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__down__right .footer__down__right__linkPanel__ul {
  padding: 0px;
  margin-top: 20px;
}

.footer__down__right .footer__down__right__linkPanel__ul__li {
  display: block;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 0.85rem;
  color: #4e4b67;
}

.footer__down__right .footer__down__right__linkPanel__title {
  color: #4432ff;
}

.footer__down__right__linkPanel {
  width: 400px;
}

.footer__down__right__linkPanel:nth-child(1) {
  margin-right: 70px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1430px) {
  .footer__top__right__znanyLekarz {
    margin-right: 20%;
  }
}

@media screen and (max-width: 1030px) {
  .footer__top {
    margin: 0px;
  }
  .footer__down {
    margin: 70px 0px;
  }
}

@media screen and (max-width: 850px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__down__left {
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer__down__right {
    margin-top: 40px;
    width: 90%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top__right__znanyLekarz {
    margin: 0px 15px 0px 0px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__down {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .footer__down__right {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__top__right__znanyLekar {
    margin: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .footer__down__right__linkPanel {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 500px) {
  .footer__down__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__down__right__linkPanel {
    width: 90%;
    text-align: center;
  }
  .footer__down__right__linkPanel:nth-child(1) {
    margin: 0px 0px 30px 0px;
  }
  .footer__down__right li {
    margin-right: 0px;
  }
}

@media screen and (max-width: 430px) {
  .footer__top__right__znanyLekarz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .footer__top__right__znanyLekarz span {
    width: 90%;
    text-align: center;
    margin: 20px 0px;
  }
  .footer__top__right__znanyLekarz svg {
    margin: 0px !important;
  }
  .footer__top__right__znanyLekarz img {
    margin: 0px !important;
  }
}
/*# sourceMappingURL=footer.css.map */