.faq {
  width: 65%;
  border-top: 1px solid #e7e7e7;
  padding-top: 130px;
  display: flex;
  padding-bottom: 70px;
  padding-bottom: 100px;
}

.faqLeft {
  h2 {
    font-size: 2.4em;
  }

  button {
    border: 2px solid #4432ff;
    color: #4432ff;
    background-color: white;
    border-radius: 5px;
    padding: 20px 15px;
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #3629c5;
      color: white;
    }
  }

  img {
    margin-top: 20px;
    width: 33vw;
    transform: translateX(-130px);
  }
}

.faqBoxes {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.faqBox {
  margin-top: 30px;
  background-color: #4432ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 45px 30px;
  user-select: none;

  &:nth-child(1) {
    margin-top: 0px;
  }
}

.faqBoxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  h3 {
    font-weight: 600;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    user-select: none;
  }

  svg {
    height: 15px;
    transition: all 0.3s ease-in-out;

    path {
      transition: all 0.3s ease-in-out;
      fill: white;
    }
  }
}

.faqDescription {
  line-height: 30px;
  transition: all 1s ease-in-out;
  user-select: none;

  p {
    user-select: none;
  }
}

@media screen and (max-width: 1430px) {
  .faq {
    width: 90%;
  }

  .faqBoxes {
    width: 70%;
  }

  .faqLeft img {
    transform: translateX(-50px);
  }
}

@media screen and (max-width: 900px) {
  .faq {
    flex-wrap: wrap;
    justify-content: center;
  }
  .faqBoxes {
    margin: 0px;
  }

  .faqLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    h2 {
      text-align: center;
    }
    button {
      width: 40%;
    }

    img {
      transform: translateX(0px);
      width: 80%;
    }
  }
}

@media screen and (max-width: 550px) {
  .faqBoxes {
    width: 100%;
  }
  .OpinionSection h1 {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .newsletterLeft h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 300px) {
  .faqLeft button {
    width: 80%;
  }
}
