.footerLogo {
  height: 50px;
}

.footerStars {
  height: 20px;
}

footer {
  background-color: #f4f7f9;
  padding: 50px;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 14%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e7e9;

  .right {
    display: flex;
    align-items: center;
    .znanyLekarz {
      display: flex;
      align-items: center;
      margin-right: 200px;
      font-size: 15px;

      svg {
        margin-right: 10px;
      }
      img {
        margin-left: 10px;
        height: 20px;
      }
    }
  }
}

.socialIcons {
  display: flex;
  img {
    cursor: pointer;
    &:nth-of-type(1) {
      margin-right: 20px;
    }
  }
}

.footerDown {
  margin: 70px 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerDownLeft {
  width: 35%;

  p {
    color: #4a4764;
    line-height: 25px;
    margin-bottom: 50px;
  }

  li {
    font-weight: 700;
    margin-right: 25px;
  }
}

.footerDownRight {
  display: flex;
  max-width: 50%;
  box-sizing: border-box;

  ul {
    padding: 0px;
    margin-top: 20px;
  }

  li {
    display: block;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 700;
    color: #4e4b67;
  }

  h3 {
    color: #4432ff;
  }
}

.linkPanel {
  &:nth-child(1) {
    margin-right: 70px !important;
  }
}

@media screen and (max-width: 1430px) {
  .footerTop .right .znanyLekarz {
    margin-right: 20%;
  }
}

@media screen and (max-width: 1030px) {
  .newsletterBox {
    width: 90%;
  }

  .footerTop {
    margin: 0px;
  }

  .footerDown {
    margin: 70px 0px;
  }
}

@media screen and (max-width: 850px) {
  .footerDown {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerDownLeft {
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footerDownRight {
    margin-top: 40px;
    width: 90%;
    max-width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .footerTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footerLogo {
    margin-bottom: 30px;
  }
  .right {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerTop .right .znanyLekarz {
    margin: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
  footer {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 500px) {
  .footerDownRight {
    flex-wrap: wrap;
  }
  .linkPanel {
    width: 90%;
    text-align: center;
  }
  .linkPanel:nth-child(1) {
    margin: 0px 0px 30px 0px !important;
  }
  .footerDownRight li {
    margin-right: 0px;
  }
}

@media screen and (max-width: 430px) {
  .znanyLekarz {
    display: flex;
    flex-wrap: wrap;

    span {
      width: 90%;
      text-align: center;
      margin: 20px 0px;
    }

    svg {
      margin: 0px !important;
    }
    img {
      margin: 0px !important;
    }
  }
}
