#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeBanner {
  width: 65%;
  display: flex;

  img {
    margin-top: 7%;
    margin-left: 5%;
    width: 50vw;
    transform: translateX(5%);
  }
}

.homeBanner-left {
  margin-top: 10%;

  h2 {
    font-size: 3em;
    font-weight: 700;
  }

  p {
    color: #4a4764;
    margin: 20px 0px 60px 0px;
    line-height: 30px;
  }
}

.home-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    border: 0px;
    padding: 0px 15px;
    border-radius: 5px;
    margin-right: 20px;

    &:nth-of-type(1) {
      background-color: #4432ff;
      color: white;
      display: flex;
      align-items: center;

      span {
        margin-right: 25px;
        font-size: 1.2em;
      }
      svg {
        border-left: 1px solid #5e4eff;
        height: 30px;
        padding: 13px 0px 13px 15px;
      }
    }

    &:nth-of-type(2) {
      border: 2px solid #4432ff;
      background-color: white;
      color: #4432ff;
      font-weight: 700;
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 1430px) {
  .homeBanner {
    width: 90%;
  }
}
