* {
  margin: 0px;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: white;
}

button:focus {
  outline: none;
}

header {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4;
  padding: 0px 17.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .headerButton button {
  border: none;
  background-color: #4432ff;
  color: white;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .headerButton button:hover {
  background-color: #170ba0;
}

.navLogo {
  width: 250px;
  cursor: pointer;
}

li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  font-size: 0.9em;
}

nav a {
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburgerMenu {
  width: 50px;
  height: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  display: none;
  margin-left: 50px;
  position: relative;
  z-index: 9;
}

.hamburgerMenu span {
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.hamburgerMenu span .lineInside {
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
}

.mobileNav {
  width: 0vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 5;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  visibility: hidden;
}

.mobileNav .mobileList {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobileNav .mobileList .headerButton .navButton {
  margin: 0px;
  margin-top: 20px;
}

.mobileNav nav ul {
  padding: 0px;
}

.mobileNav nav ul li {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 0px;
  font-size: 1.4em;
}

.mobileNav nav ul li:nth-last-child(1) {
  margin-bottom: 0px;
}

@media screen and (max-width: 1430px) {
  .hamburgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navLeft nav {
    display: none;
  }
  header {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 1030px) {
  header {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .navButton {
    margin-left: 20px;
  }
}

@media screen and (max-width: 570px) {
  .navButton {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navLogo {
    width: 150px;
  }
}
/*# sourceMappingURL=nav.css.map */