.benefit-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletterBox {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 30px 50px;
  background-color: #4432ff;
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

.iconBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:nth-last-child(1) {
    margin-bottom: 0px;
  }

  &:nth-child(1),
  &:nth-child(7) {
    opacity: 0.2;
  }
  &:nth-child(2),
  &:nth-child(6) {
    opacity: 0.5;
  }
  &:nth-child(3),
  &:nth-child(5) {
    opacity: 0.7;
  }

  img {
    height: 10px;
    padding: 6px 5px;
    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, 0.479);
    margin-right: 10px;
  }
}

.newsletterLeft {
  h1 {
    font-size: 2.8em;
    margin-bottom: 30px;
  }

  button {
    background-color: white;
    color: #4432ff;
    border: 0px;
    border-radius: 5px;
    padding: 20px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #d8d8d8;
    }
  }
}

.newsletterRight {
  margin-right: 50px;
}

@media screen and (max-width: 1137px) {
  .newsletterBox {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .newsletterBox {
    justify-content: center;
  }
  .newsletterLeft {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .newsletterRight {
    margin-right: 0px;
  }
}
