.realisationSection {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0px 15%;

  a {
    margin-left: 15px;
    color: #4432ff !important;
  }

  img {
    margin-left: 10px;
  }
}
