.secBanner {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/home-page/section-profit--background.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.secBanner_paragraph {
  margin-top: 30px;
  width: 50%;
  text-align: center;
  color: #6d6b82;
  font-weight: 600 !important;
  line-height: 30px;
  font-family: "Comfortaa", cursive;
}

.secBanner__header {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 700;
  width: 60%;
}

@media screen and (max-width: 1430px) {
  .secBanner {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .secBanner__header {
    width: 100%;
  }
  .secBanner_paragraph {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .secBanner {
    height: auto;
    padding: 100px 0px;
  }
  .secBanner__header {
    font-size: 2.4em;
  }
}
